body {
    background: hsl(216, 12%, 8%) ;
    
}

.rating-container {
    font-family: Overpass;
    font-size: 15px;
    background:hsl(213, 19%, 18%);
    display: block;
    margin: 170px auto;
    margin-bottom: 100px;
    width: 375px;
    height: 335px;
    padding: 25px 17px 17px 20px;
    border-radius: 32px;
}
    
.star {
    background: hsl(218, 10%, 22%);
    border-radius: 40px;
    height: 40px;
    width: 40px;
    
    justify-content: center;
}

.imgStar {
    margin: 11.5px;
    margin-left: 12px;
}

h1 {
    margin-top: 30px;
    font-size: 24px;
    color:antiquewhite;
}

h2 {
    font-size: 15px;
    color:rgb(187, 183, 176);
}

.rating {
    margin-top: 30px;
    margin-left: 13.5px;
    margin-right: 13.5px;
    display: grid;
    grid-template-columns: repeat(5, 1fr) ;
}
.custom-radio {
    position: relative;
    display: grid;
    justify-content: center;
    outline: none;
    color: antiquewhite;
    background: hsl(218, 10%, 22%);
    border-radius: 43px;
    height: 43px;
    width: 43px;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
    
} 

.real-radio {
    height: 0;
    width: 0;
    position: absolute;
    opacity: 0;
}


.real-radio:checked + .custom-radio {
    background: hsl(25, 97%, 53%);
}


.sub {
    color: aliceblue;
    border-radius: 43px;
    height: 43px;
    width: 322px;
    background-color:hsl(25, 97%, 53%);
    margin-top: 28px;
    margin-left: 28px;
    outline: none;
    cursor: pointer;
    border:none;
}

.sub:hover {
    color: black;
    background-color:hsl(60, 20%, 99%) ;
} 

.result-container {
    display: none;
    color:aliceblue;
}